.login-background {
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: 500px;  /* smaller background image */
    background-position: center;
    background-repeat: repeat;
}

.pass-card {
    background-color: #000;
    background-image: url('/static/images/kettlebell-bg.jpg');
    background-size: auto 80%;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.calendar-table td {
    width: 100px;
    height: 60px;
    vertical-align: top;
    position: relative;
    padding: 0;
}

.calendar-event {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #0d6efd;
    color: #fff;
    font-size: 0.75rem;
    padding: 2px;
    border-radius: 2px;
    overflow: hidden;
}

.calendar-event.with-text {
    overflow: visible;
    z-index: 1;
}

/* Colors for admin event cards based on status */
.event-card.past {
    background-color: #f8d7da;
}
.event-card.ongoing {
    background-color: #fff3cd;
}
.event-card.upcoming {
    background-color: #d1e7dd;
}

/* Background colors for calendar columns */
.calendar-table th.weekday,
.calendar-table td.weekday {
    background-color: #e9f4ff; /* light blue */
}

.calendar-table th.saturday,
.calendar-table td.saturday {
    background-color: #fff9e6; /* light yellow */
}

.calendar-table th.sunday,
.calendar-table td.sunday {
    background-color: #ffe6e6; /* light red */
}
